# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg
*.egg-info/
.env

# Specific to this project
secret_notes.txt
MacSecure.txt
uv.lock
summary.txt
*.pdf

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
